<app-timeline [events]="events"></app-timeline>

<ul class="instructions fa-ul">
    <li>
        <i class="fa-li fa fa-bug"></i>
        <a href="https://travis-ci.org/jdpearce/airtable-assignment" rel="nofollow">
            <img src="https://travis-ci.org/jdpearce/airtable-assignment.svg?branch=master" alt="Build Status"
        /></a>
    </li>
    <li>
        <i class="fa-li fa fa-search"></i>Click <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Week,
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>&nbsp;Month or <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Year
        to change the zoom level
    </li>
    <li>
        <i class="fa-li fa fa-arrows"></i>Drag an item over the column header to move it into that position (start date is updated, event
        length is maintained)
    </li>
    <li>
        <i class="fa-li fa fa-github"></i
        ><a href="https://github.com/jdpearce/airtable-assignment">https://github.com/jdpearce/airtable-assignment</a>
    </li>
</ul>
