<div class="timeline-buttons">
    <button
        (click)="setZoomLevel(ZoomLevel.Week)"
        [ngClass]="{ 'toggle-button-off': zoomLevel !== ZoomLevel.Week, 'toggle-button-on': zoomLevel === ZoomLevel.Week }"
    >
        <i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Week
    </button>
    <button
        (click)="setZoomLevel(ZoomLevel.Month)"
        [ngClass]="{ 'toggle-button-off': zoomLevel !== ZoomLevel.Month, 'toggle-button-on': zoomLevel === ZoomLevel.Month }"
    >
        <i class="fa fa-calendar-minus-o" aria-hidden="true"></i>&nbsp;Month
    </button>
    <button
        (click)="setZoomLevel(ZoomLevel.Year)"
        [ngClass]="{ 'toggle-button-off': zoomLevel !== ZoomLevel.Year, 'toggle-button-on': zoomLevel === ZoomLevel.Year }"
    >
        <i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;Year
    </button>
</div>

<div class="timeline-container">
    <div class="timeline-column-container" [ngStyle]="{ width: columnWidth * columns.length + '%' }">
        <div class="timeline-column" *ngFor="let column of columns" [ngStyle]="{ width: columnWidth + '%' }">
            <div class="timeline-column-header" (dragover)="onDragOver($event, column)" (dragleave)="onDragLeave($event)">
                {{ column.title }}
            </div>
        </div>
    </div>
    <div class="timeline-lane" *ngFor="let laneEvents of lanes">
        <div
            draggable="true"
            (dragstart)="onDragStart($event, event)"
            *ngFor="let event of laneEvents"
            class="timeline-event"
            [ngStyle]="{ left: event.left + '%', width: event.width + '%', background: event.colour }"
        >
            {{ event.name }}, {{ event.days }}, {{ event.start | date: 'dd MMM yyyy' }}, {{ event.end | date: 'dd MMM yyyy' }}
        </div>
    </div>
</div>
