.timeline-lane {
    height: 2rem;
    position: relative;
}

.timeline-container {
    padding-top: 2rem;
    background: grey;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}

.timeline-column-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.timeline-column {
    height: 100%;
    background: blue;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
